{% load static %}

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>JAV Focus</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<div id="l_body">
    <div id="safearea">
        <div class="body-wrapper" id="pjax-container" style="max-width: calc({{ showNum }}*285px);">
            <div class="l_main">
                <section class="post-list">
                    {% for video in videos %}
                        <div class="post-wrapper">
                            <div class="post post-v3 white-box reveal shadow floatable" style="text-align: center;">
                                {% for v in video.videos %}
                                    <div class="col">
                                        <a href="{{ v.href }}" title="{{ v.title }}" target="_blank"
                                           style="text-decoration: none">
                                            <div style="height: 1.3em;margin: 3px">
                                                {{ v.code }}
                                            </div>
                                            <img src="{{ v.cover }}"
                                                 width="147px" height="200px">
                                            <div class="title">
                                                {{ v.title }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}

                                <div class="meta-v3" line_style="solid">
                                    <div>
                                        <time>{{ video.actorName }}</time>
                                    </div>


                                    <div>
                                        <a class="readmore"
                                           href="/2019/08/27/SpringCloud%E5%BE%AE%E6%9C%8D%E5%8A%A1%E6%9E%B6%E6%9E%84%E7%B3%BB%E5%88%97%E6%9C%8D%E5%8A%A1%E7%9A%84%E6%B3%A8%E5%86%8C%E5%8F%91%E7%8E%B0%E4%B8%8E%E8%B0%83%E7%94%A8/"
                                           data-pjax-state="">
                                            查看更多
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="l_side">
                <section class="widget tagcloud shadow floatable desktop mobile">
                    <header>
                        <a href="/blog/tags/" data-pjax-state=""><i class="fas fa-tags fa-fw"
                                                                    aria-hidden="true"></i><span
                                class="name">热门标签</span></a>
                    </header>

                    <div class="content">
                        <a href="/tags/Java/" style="font-size: 17.33px; color: #828282" data-pjax-state="">Java</a>
                        <a href="/tags/Mybatis/" style="font-size: 17.33px; color: #828282"
                           data-pjax-state="">Mybatis</a>
                        <a href="/tags/Redis/" style="font-size: 17.33px; color: #828282" data-pjax-state="">Redis</a>
                        <a href="/tags/SpringBoot/" style="font-size: 20.67px; color: #6c6c6c" data-pjax-state="">SpringBoot</a>
                        <a href="/tags/SpringCloud/" style="font-size: 14px; color: #999"
                           data-pjax-state="">SpringCloud</a>
                        <a href="/tags/%E5%B0%8F%E5%9D%91/" style="font-size: 17.33px; color: #828282"
                           data-pjax-state="">小坑</a>
                        <a href="/tags/%E6%95%99%E7%A8%8B/" style="font-size: 24px; color: #555"
                           data-pjax-state="">教程</a>
                        <a href="/tags/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F/" style="font-size: 14px; color: #999"
                           data-pjax-state="">设计模式</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>